<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>wallpencil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="../dist/img/favicon.ico">

</head>

<body>
    <style>
        body {
            min-height: 200px;
            padding-top: 70px;
        }
    </style>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">wallpencil</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://github.com">See project on Github<span class="fui-github"></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <!-- Main component -->
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-6">
                    <h1>wallpencil</h1>
                    <p>A shareable drawing room</p>
                    <p>
                        <a class="btn btn-lg btn-warning" href="/create" role="button">Create a Canvas &raquo;</a>
                    </p>
                </div>
                <img class="col-xs-6" src="../img/canvas.png" alt="Compas" class="tile-image big-illustration" width='100%'>
            </div>
        </div>

    </div>
    <!-- /container -->

    <!-- jQuery -->
    <script src="../js/vendor/jquery.min.js"></script>
    <!-- Other Scripts -->
    <script src="../js/flat-ui.min.js"></script>
    <script src="../assets/js/application.js"></script>

</body>

</html>
