<!DOCTYPE html>
<html>
<head>
	<title>Create a Private Canvas</title>
	<!-- Links & Stylesheets -->
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="homebanner">
		<h1 class="homebannertext">
				<a href="" id="logo"><span></span></a>
			</h1>
	</header>

	<section>
		<div class="homesection">
			<div class="node">
				<img src="/img/nodejslogo.png" alt="preview" id="nodelogo" />
				<h2 id="slogan">slogan</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CANVAS</div>
				</div>
			</a>

			<div class="git-it">
				<a title="Download the source code." href="http://github.com" id="git-link">
					or see this project on GitHub
				</a>
			</div>
		</div>

	</section>

</body>

</html>
